@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-page: 250, 250, 250;
  --color-super-light-gray: 177, 177, 177;
  --color-light-gray: 234, 234, 234;
  --color-gray: 112, 112, 112;
  --color-dark-gray: 47, 47, 47;
  --color-white: 255, 255, 255;
  --color-text: 122, 122, 122;
  --color-text-sky: 2, 132, 199;
  --color-green: 60, 179, 171;
  --color-dark-green: 20, 122, 115
}
html{
  font-size: 14px;
}

body{
  font-family: var(--font-main);
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(var(--background-page));
}

/*Main titles*/
h1, h2, h3, h4, h5, h6{
  margin-bottom: 1rem;
  font-weight: 700;
}
h1{
  font-size: 2rem;
  text-align: center;
}
h2{
  font-size: 1.75rem;
  text-align: center;
  line-height: 1.2;
}
h3{
  font-size: 1.25rem;
}
h4{
  font-size: 1.125rem;
}
h5{
  font-size: 1rem;
}

/*text*/
p{
  color: rgb(var(--color-text));
  line-height: 1.875;
  margin-bottom: 1.5rem;

}
.display-1{
  font-size: 1.25rem;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center > div{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.top > *{
  margin-top: 6rem;
}

/*Style custom scrollbar*/
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(var( --foreground-rgb), .30);
  border-radius: 8px;

}
::-webkit-scrollbar-track{
  background-color: rgba(var( --foreground-rgb), .15);
  margin-left: 3px;
}
/*Breakpoints*/
@media (min-width:376px) {
  html{
    font-size: 16px;
  }
}



