.button{
    font-weight: 700;
    color: rgb(var(--color-white));
    font-size: 1rem;
    border-radius: 33.5px;

}

.active{
    background-color: rgb(var(--color-green));
}
.active:hover{
    background-color: rgb(var(--color-dark-green));

}
.inactive{
    background-color: rgba(var(--color-dark-gray),.5);
    cursor:default
}